@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");

section.home {
	position: relative;
	height: 100vh;
	width: 100%;
	background: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section.home::before {
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100vh;
	background: linear-gradient(0deg, #0e0b10, rgba(0, 0, 0, 0));
}

section.home .container.home {
	position: relative;
	z-index: 2;
	height: 90%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;
}

section.home .container.home h1 {
	color: #f5f5f5;
	font-family: "Dosis";
	text-align: center;
	font-size: 4rem;
}

section.home .container.home h1 span {
	color: #dbb85f;
}

section.home .container.home i {
	color: #f0f0f0;
	font-size: 2em;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.3s;
}

section.home .container.home i:hover {
	transform: scale(1.15);
	transition: 0.3s;
}

section.preview {
	position: relative;
	height: 100vh;
	width: 100%;
	background: #0e0b10;
	display: flex;
	align-items: center;
}

section.preview .container {
	position: relative;
	width: 80%;
	height: 90%;
	margin: auto;
	display: flex;
	align-items: center;
}
section.preview .container .description {
	position: relative;
	width: 40%;
	padding-right: 30px;
}

section.preview .container .description h2 {
	font-family: "Rubik";
	color: #f5f5f5;
	text-transform: uppercase;
	font-size: 2.5em;
}

section.preview .container .description p {
	color: #dbdbdb;
	text-align: justify;
}

section.preview .container .image {
	position: relative;
	width: 60%;
	height: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.preview .container .image img {
	transform: scale(0.7);
}

section.destination {
	position: relative;
	height: 100vh;
	width: 100%;
	background: url("../images/sky.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

section.destination::before {
	content: "";
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100vh;
	background: linear-gradient(180deg, #0e0b10, rgba(0, 0, 0, 0));
}

section.destination .container {
	position: relative;
	width: 80%;
	height: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.destination .container .text {
	text-align: center;
	height: 20%;
	font-family: "Dosis";
}
section.destination .container .text h1 {
	font-family: "Rubik";
	color: #f5f5f5;
	text-transform: uppercase;
	font-size: 2.5em;
}
